<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  	{%- if site.repository and site.repository_tree -%}
	  {%- assign _locale_post_on_github = __return -%}
	  
	  <!-- get current path -->
	  {%- assign _article_path = page.path -%}
	   
	  <!-- conbine -->
	  {%- assign _github_path = site.repository | append: '/tree/' | append: site.repository_tree | append: '/' | append: _article_path | replace:'//','/' -%}
	  <span class="split-space">&nbsp;&nbsp;</span>
	  <a class="edit-on-github"
		title="{{ _locale_post_on_github }}"
		href="https://github.com/{{ _github_path }}">
		<i class="far fa-edit"></i>
	  </a>
	{%- endif -%}
	</div>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>